/project-LARAVEL/node_modules
/project-LARAVEL/public/build
/project-LARAVEL/public/hot
/project-LARAVEL/public/storage
/project-LARAVEL/storage/*.key
/project-LARAVEL/vendor
/project-LARAVEL/.env
/project-LARAVEL/.env.backup
/project-LARAVEL/.env.production
/project-LARAVEL/.phpunit.result.cache
/project-LARAVEL/Homestead.json
/project-LARAVEL/Homestead.yaml
/project-LARAVEL/auth.json
/project-LARAVEL/npm-debug.log
/project-LARAVEL/yarn-error.log
/.fleet
/.idea
/.vscode